$primary: rgb(17, 112, 25);
$secondary: rgb(250, 197, 100);

$success: rgb(46, 139,87);
$danger: rgb(255, 99, 71);

$bg-primary: rgb(10, 24, 11);

$whiteTransp: rgba(255,255,255,0.8);


$successBorder:rgb(41, 124, 77);
$dangerBorder:rgb(233, 81, 54);
$borderRadius: 12px;

// Padding, margins, anchos y altos

$pAll: 1rem;
$pY: 1rem 0;
$pX: 0 1rem;

$mAll: 1rem;
$mY: 1rem 0;
$mX: 0 1rem;

$w100:100%;
$w75:75%;
$w50:50%;
$w25:25%;

// Idioma principal
$lang: "espanhol"